<div class="row">
    <h1>Educación</h1>
    <div class="text-center">
    <button type="button" class="btn btn-success" *ngIf="isLogged">
        <a routerLink="addEducacion" class="nav-link" style="color:aliceblue">
        Agregar Educación<span class="sr-only"> (current) </span>
        </a>
    </button>
    </div>
    <ul type="square" *ngFor="let educacion of educaciones">
    <!-- <ul type="square"> -->
        <li>
            <div class="row lista">
                <div class="col-1">
                    <img src="{{educacion.img}}" alt="Imágen Educación" class="img-fluid">
                </div>
                <div class="col-11">
                    <h2>{{educacion.nombreE}}</h2> -
                    <h4>{{educacion.fecha}} </h4>
                    <a routerLink="editEducacion/{{educacion.id}}" class="btn btn-primary tooltips" *ngIf="isLogged"><i class="fa fa-pencil"></i></a>
                    <a (click)="delete(educacion.id)" class="btn btn-secondary tooltips" *ngIf="isLogged"><i class="fa fa-times"></i></a>
                    <p>{{educacion.descripcionE}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>