<div class="row">
    <h1>Educación</h1>
    <div class="text-center">
    <button type="button" class="btn btn-success">
    <!-- <button type="button" class="btn btn-success" (click)="onOpenModal('add')" data-toggle="modal" data-target="#addEducacionModal"> -->
        <a href="" class="nav-link" style="color:aliceblue">
        Agregar Educación<span class="sr-only"> (current) </span>
        </a>
    </button>
    </div>
    <!-- <ul type="square" *ngFor="let educacion of educaciones"> -->
    <ul type="square">
        <li>
            <div class="row lista">
                <div class="col-1">
                    <img src="" alt="Imágen Educación" class="img-fluid">
                </div>
                <div class="col-11">
                    <h2>asd</h2> -
                    <h4>asd ~ asd</h4>
                    <a class="btn btn-primary tooltips"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-secondary tooltips"><i class="fa fa-times"></i></a>
                    <p>asd</p>
                </div>
            </div>
        </li>
    </ul>
</div>