<div class="row">
    <h1>Experiencia Laboral</h1>
    <!-- <ul type="square" *ngFor="let experiencia of experiencias"> -->
    <ul type="square">
        <li>
            <div class="row lista">
                <div class="col-1">
                    <img src="asd" alt="Imágen Trabajo 1" class="img-fluid">
                </div>
                <div class="col-11">
                    <h2>asd</h2> -
                    <h4>asd ~ asd</h4>
                    <a class="btn btn-primary tooltips"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-secondary tooltips"><i class="fa fa-times"></i></a>
                    <p>asd</p>
                </div>
            </div>
        </li>
    </ul>
</div>